/*
   CLEARS
*/

.cn { clear: none; }
.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {       *zoom: 1; }

@media screen and (min-width: 32em) {
  .cn-s { clear: none; }
  .cl-s { clear: left; }
  .cr-s { clear: right; }
  .cb-s { clear: both; }
  .cf-s:before,
  .cf-s:after { content: " "; display: table; }
  .cf-s:after { clear: both; }
  .cf-s {       *zoom: 1; }
}

@media screen and (min-width:48em) {
  .cn-m { clear: none; }
  .cl-m { clear: left; }
  .cr-m { clear: right; }
  .cb-m { clear: both; }
  .cf-m:before,
  .cf-m:after { content: " "; display: table; }
  .cf-m:after { clear: both; }
  .cf-m {       *zoom: 1; }
}

@media screen and (min-width: 96em) {
  .cn-l { clear: none; }
  .cl-l { clear: left; }
  .cr-l { clear: right; }
  .cb-l { clear: both; }
  .cf-l:before,
  .cf-l:after { content: " "; display: table; }
  .cf-l:after { clear: both; }
  .cf-l {       *zoom: 1; }
}

